<h2>Show product</h2>

<ul>

  <li>
    <strong>Prodcut name:</strong>
    <%= @product.prodcut_name %>
  </li>

  <li>
    <strong>Price:</strong>
    <%= @product.price %>
  </li>

  <li>
    <strong>Stock:</strong>
    <%= @product.stock %>
  </li>

</ul>

<%= link "Edit", to: product_path(@conn, :edit, @product) %>
<%= link "Back", to: product_path(@conn, :index) %>
